{% load static %}
<html>
    <head>
         <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body>        
        <nav class="nav-bar">
        <div class="nav-wrapper" style="padding-left: 1%;">
            <ul id="nav-mobile" class="left">
                <li><a href="{% url 'upload_video' %}" style="font-size: 30;">FA</a></li>
                <li><a href="{% url 'actions'  %}" style="font-size: 30;">Actions</a></li>
            </ul>
        </div>
        </nav>
        <div class="main-content">
            <div>
                <blockquote style="font-size: 24;">
                    Recognize the egocentric action in the video using our API
                </blockquote>
            </div>
            <div style="font-size: 16;">
                <ol>
                    <li>Upload a video which is in first person perspective.</li>
                    <li>Find out the action present.</li>
                    <li>If prediction is wrong, help us increase our dataset by sharing the video and action present in it.</li>
                </ol>
            </div>
            <div class="container">
            <div class="row">
                <div class="col s6 offset-s3">
                  <!-- <video width="320" height="240" controls>
                    <source src="test.mp4" type="video/mp4">
                  </video>                   -->
              <form action="#" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="file-field input-field">
                  <div class="btn">
                    <span>File</span>
                    <input type="file" name="video" id="video" accept="video/*">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" id="vid_name" value="" type="text">
                  </div>
                  <button class="btn waves-effect waves-light" style="margin-left: 100px;" type="submit" name="action">Submit
                  </button>            
                </div>
              </form>
            </div>
            </div>
        </div>
        </div>

        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">First Person Action Recognition</h5>
                <p class="grey-text text-lighten-4">First person action recognition or egocentric action recognition is a sub-field of computer vision that entails analyzing images and videos captured by a wearable camera, which is typically worn on the head and approximates the visual field of the camera wearer.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" target="_blank" href="http://cbs.ic.gatech.edu/fpv/">GTEA Dataset</a></li>
                  <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.cse.iitd.ac.in/~chetan/papers/pr2017.pdf">Research paper</a></li>
                </ul>
              </div>
            </div>
          </div>
  </footer>
            
          <!-- <script>
            $(document).ready(function() {
              $('#vid_name').on('change',()=>{
                alert('hi');
                alert($('#vid_name').val());
                alert($('#video').val());
              });
            });
          </script> -->
    </body>
</html>
        